body {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgrey;
    margin: 0;
    width: 100%;
    font-size: 1em;
}

.price {
    font-size: 1.1em;
    color: red;
    font-weight: bold;
}

.subtitle{
    font-size: .75em;
}

header {
    background-color: lightskyblue;
    height: auto;
    width: 100%;
    font-size: 4em;
    margin: 0;
    padding: 0;
}

footer {
    background-color: grey;
    height: 10%;
    width: 100%;
    font-size: 1em;
    margin: 0;
    padding: 0;
}